$bg: #191919;
$bg2: #120f18;
$mint: #1abc9c;
$font-large: 3rem;
$font-medium: 2rem;
$font-default: 1.2rem;
$font-small: 0.8rem;
$breakpoint-mobile: 320px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1025px;
$margin: 2.5rem;
